<h1 class="title">Search Products</h1>
<form class="form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <mat-form-field class="form__field">
    <input matInput type="text" placeholder="Title"
          formControlName="title">
    <mat-error>Title is to short</mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Min Price"
          formControlName="minPrice">
    <mat-error>Cannot be less than 0</mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Max Price"
          formControlName="maxPrice" [errorStateMatcher]="matcher">
      <mat-error *ngIf="searchForm.controls['maxPrice'].hasError('min')">
        Cannot be less than 0
      </mat-error>
      <mat-error *ngIf="searchForm.controls['maxPrice'].hasError('max')">
        Cannot be more than 10,000
      </mat-error>
      <mat-error *ngIf="searchForm.hasError('minLessThanMax')">
        Should be larger than min price
      </mat-error>
    </mat-form-field>

    <button class="form__submit" color="primary" mat-raised-button>
      SEARCH
    </button>
</form>
